<form name="form"
      class="form registrationForm"
      (ngSubmit)="editPassword($event)"
      [formGroup]="form_group"
      validate>
    <div class="form-group">
        <app-input-password label="{{'LABEL_OLD_PASSWORD' | translate}}"
                            placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}" formControlName="old_password">
        </app-input-password>
    </div>
    <div class="form-group">
        <app-input-password label="{{'LABEL_NEW_PASSWORD' | translate}}"
                            placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}" formControlName="password">

        </app-input-password>
    </div>
    <div class="form-group">
        <app-input-password label="{{'LABEL_CONFIRM_NEW_PASSWORD' | translate}}"
                            placeholder="{{'PLACEHOLDER_CONFIRM_PASSWORD' | translate}}" formControlName="password_confirm">

        </app-input-password>
    </div>
    <button class="btn btn-lg btn-primary btn-block account pas_but"
            type="submit">
        {{'BTN_SAVE_CHANGES' | translate}}
        <!--<img class="form_spinner" *ngIf="_isLoading" src="./../../../assets/images/Spinner-form.svg" alt="">-->
    </button>
</form>

