.password {
    padding-right: 1.6em;
}
span {
    display: block;
}
div > label > span {
    display: block;
    margin-bottom: 9px;
    line-height: normal;
}
input::placeholder {
    color: #a6aebc;
}
label {
    margin-bottom: 0 !important;
    width: 100%;
}
.show_password {
    right: 20px;
}
.eye_center {
    right: 10px;
}
.password_container {
    position: relative;
}
