<app-register-header></app-register-header>
<main role="main"
      class="main pb-5">
  <div class="container">
    <div class="pt-2">
      <alert></alert>
    </div>
    <form *ngIf="showForm"
          name="form"
          class="form stepTree"
          (ngSubmit)="onLogIn()"
          #f="ngForm">
      <div class="row">
        <div class="content">
          <div class="image">
            <img src="assets/images/sucess.png"
                 alt="logo">
          </div>
          <div class="text">
            {{'TEXT_CONFIRM_EMAIL' | translate}}
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block login"
              type="submit">
        {{'BTN_LOGIN' | translate}}
      </button>
    </form>
    <div *ngIf="errorMessage" class="error">
      {{'ERROR_CHANGE_EMAIL' | translate}}
    </div>
  </div>
</main>
<footer></footer>
