<div class="header">
    <div class="container " style="flex: none;">
        <div class="row header__wrapper">
            <div class="col-6">
                <div class="logo">
                    <a href="">
                        <img src="assets/images/logo.png"
                             alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="headerLogin">
                    <a [routerLink]="['/login']"
                       class="loginButton">
                        {{'BTN_LOGIN' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
