<header></header>
<div class="container">
    <div class="row">
        <div class="col">
            <section class="dashboardNavBuyer">
                <ul class="accountNavTop">
                    <li [ngClass]="{'active': true}">
                        <a [routerLink]="['/dashboard/buyer/account/company']">
                            {{'MENU_ITEM_COMPANY_INFO' | translate}}
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<main role="main"
      class="main pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <form name="form"
                      class="form companyForm"
                      (ngSubmit)="editCompanyInfo()"
                      [formGroup]="form_group"
                      validate>
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-6">
                                    <app-input-text label="*{{'LABEL_COMPANY_NAME' | translate}}" placeholder="{{'PLACEHOLDER_COMPANY_NAME' | translate}}"
                                                    formControlName="name"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <app-input-text label="*{{'LABEL_VAT' | translate}}"
                                                    placeholder="{{'PLACEHOLDER_VAT' | translate}}"
                                                    formControlName="vat_number"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <app-input-text label="{{'LABEL_COMPANY_WEB' | translate}}"
                                                    placeholder="http://example.com"
                                                    formControlName="website_address"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <hr/>
                            <h2 class="form-title">{{'TITLE_ADDRESS' | translate}}</h2>
                            <div class="row">
                                <div class="col-6" formGroupName="address">
                                    <app-input-text label="*{{'LABEL_STREETNAME' | translate}}"
                                                    placeholder="{{'PLACEHOLDER_STREETNAME' | translate}}"
                                                    formControlName="street_name"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" formGroupName="address">
                                    <app-input-text label="*{{'LABEL_STREETNUM' | translate}}"
                                                    placeholder=""
                                                    formControlName="street_number"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                                <div class="col-3" formGroupName="address">
                                    <app-input-text label="{{'LABEL_BUS' | translate}}"
                                                    placeholder=""
                                                    formControlName="bus"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" formGroupName="address">
                                    <app-input-text label="*{{'LABEL_ZIP' | translate}}"
                                                    placeholder="{{'PLACEHOLDER_ZIP' | translate}}"
                                                    formControlName="zip"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" formGroupName="address">
                                    <app-input-text label="*{{'LABEL_CITY' | translate}}"
                                                    placeholder="{{'PLACEHOLDER_CITY' | translate}}"
                                                    formControlName="city"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" formGroupName="address">
                                    <app-input-text label="{{'LABEL_STATE' | translate}}"
                                                    placeholder="{{'PLACEHOLDER_STATE' | translate}}"
                                                    formControlName="state"
                                                    [styles]="styles">
                                    </app-input-text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" formGroupName="address">
                                    <app-select [listArray]="countries"
                                                label="*{{'LABEL_COUNTRY' | translate}}"
                                                formControlName="country">
                                    </app-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="logo-title">{{'TEXT_COMPANY_LOGO' | translate}}</h2>
                                        <img id="info-icon" src="../../../../assets/images/info-icon.svg" alt="info">
                                        <div class="report-wrapper">
                                                {{'INFO_MAX_IMAGE_WEIGHT' | translate}}: 2 MB
                                        </div>
                                        <div class="imageRect">
                                            <app-one-image-upload formControlName="logo"></app-one-image-upload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block login"
                            type="submit">
                       {{'BTN_SAVE_CHANGES' | translate}}
                        <img class="form_spinner" *ngIf="isLoading" src="./../../../assets/images/Spinner-form.svg"
                             alt="">
                    </button>
                </form>
            </div>
            <div class="pt-2 pb-2 w-100">
                <div class="w-50">
                    <alert></alert>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>
<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">            
            <button (click)="closeModal('custom-modal-2');"
                    class="closeModal">
                <i class="fa fa-close"></i>
            </button>
            <div class="content">
                <div class="image">
                    <img src="assets/images/sucess.png"
                         alt="logo">
                </div>
                <div>
                   {{'MODAL_INFO_UPDATED' | translate}}
                </div>
            </div>
        </div>
    </div>
     <div class="modal-background"></div>
</modal>
