.buyer_wrapper {
    position: relative;
}

.pagi_navi {
    position: absolute;
    right: 15px;
    bottom: -90px;
}
.spinner {
    width: 100%;
    text-align: center;
}
.searchResultTitle {
    /* position: absolute; */
    top: -70px;
    /* left: 117px; */
    padding-bottom: 20px;
    padding-top: 0;
}
.cart_modal {
    max-width: 628px !important;
    width: auto !important;
    padding: 5px 0 35px !important;
}
.modal_product_description {
    text-align: left;
    margin: 0 30px;
}
.ref_number {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.7px;
    color: #33333a;
}
.modal_product_title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #030303;
    text-decoration: underline;
}
.modal_company {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: #33333a;
}
.module_price_title {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: #33333a;
    display: flex;
}
.total_price {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: 1.2px;
    color: #33333a;
}
.total_sum {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.7px;
    color: #33333a;
}
.bottom_line {
    width: 100%;
    display: block;
    border-bottom: 2px solid rgba(184, 191, 211, 0.5);
    margin-bottom: 20px;
}
.modalProduct .sizer {
    margin-top: 30px;
    font-size: 14px;
}
.modalProduct .sizesBlock {
    float: left;
    margin-right: 5px;
}
.sizeNumber {
    width:43px;
    height: 32px;
    vertical-align: middle;
    border: solid 1px #eef0f2;
    background-color: #eef0f2;
    border-right: none;
    outline:none;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: #4099d5;
    margin: 0;
}

.sizeValue {
    width: 43px;
    height: 23px;
    border: solid 2px #eef0f2;
    background-color: white;
    outline: none;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #45454b;
    text-align: center;
}
.modal_buttton_container {
    width: 100%;
    text-align: right;
}
.saveButton {
    width: 50% !important;
    float: none;
}
.modal_product_description p {
    margin-bottom: 0;
    word-break: break-word;
}
.strikethrough  {
    font-weight: normal;
    font-size: 13px;
}
.modal_discont_date {
    margin-left: -90px;
}
.cart_modal_title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #33333a;
    margin-bottom: 49px;
    padding: 0 35px;
}
.error_message {
    color: #d0021b;
}

.agree_buttom {
    height: 40px;
    width: 130px;
    background-color: #3f99d4;
    color: #FFFFFF;
    font-size: 12px;
    border: none;
    margin-top: 60px;
    text-transform: uppercase;
}
.image_description_wrapper {
    display: flex;
}
.modal_image {
    border: 1px solid rgba(184, 191, 211, 0.5);
    object-fit: contain;
}
.quantity_size{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33333a;
}
.productDesc {
    padding: 0 35px;
}
.filter_container {
    justify-content: flex-end;
    margin: 6px 6px 24px 0;
}

.origin_country {
    width: 106px;
    height: 30px;
    margin-right: 22px;
}
.sort_by {
    width: 170px;
    height: 30px;
    margin-right: 64px;
}
.currency {
    width: 64px;
    height: 30px;
}
.discount-label {
    background-color: #eb6774;
    padding: 0 10px;
    height: 26px;
    width: 57px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    line-height: 26px;
    position: absolute;
    left: 0;
    top: 38px;
    cursor: default;
}

.discount-price {
    color: #eb6774;
}
.productPrice {
    margin-bottom: 9px !important;
}

.productPrice.discount {
    margin-bottom: 1px !important;
}
.productPrice .discount-price {
    display: inline-block;
    margin-right: 3px;
}

.productPrice div {
    display: inline-block;
}

.productPrice div .strikethrough {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1px;
}
.discount-end {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #232323;
    margin-bottom: 3px;
}
.catalog .bestProduct {
    min-width: 188px;
    width: 188px;
    height: 290px;
    margin: 0 16px 14px 0;
}
.show_quantity {
    display: block;
    width: 70px;
    padding: 0 7px;
    height: 30px;
    background-color: #737373;
    color: #fff;
    position: absolute;
    bottom: -48px;
    left: -8px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.show_quantity:before {
    content: '';
    display: block;
    position: absolute;
    top: -40%;
    left: 31%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #737373 transparent;
}
.show_quantity_container {
    position: relative;
}
.catalog .bestProduct .productButton {
    width: 90%;
    bottom: 7px;
}
.catalog .bestProduct .productShortSize {
    bottom: 22px;
}
.row.catalog {
    padding-left: 50px;
}
.prepack_name {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33333a;
    word-break: break-word;
}


@media (min-width: 1920px) {
    .container {
        max-width: 1535px;
    }
}

@media (min-width: 2048px) {
    .container {
        max-width: 1779px;
    }

    .container.top {
        padding-right: 30px;
    }
}

@media (min-width: 2560px) {
    .container {
        max-width: 2300px;
    }
    .catalog .bestProduct .productInfo .productRef {
        margin-top: 6px;
    }
    .container.top {
        padding-right: 140px;
    }
}

@media (min-width: 3200px) {
    .container {
        max-width: 2500px;
    }

}
@media (min-width: 4096px) {
    .container {
        max-width: 2937px;
    }
    .catalog .bestProduct .productButton {
        max-width: 270px;
    }
}


.catalog .bestProduct .productDesc {
    padding: 20px 0 8px 0;
    position: relative;
    height: 110px;
    /* border-top: solid 1px #b8bfd3; */
}
.catalog .bestProduct .productInfoArchive .productImage {
    height: 200px;
    /* margin-top: 20px; */
}

.catalog .bestProduct .productInfo .productImage {
    max-height: 126.3px;
    max-width: 128px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-height: 157px;
    max-width: 158px;
}

.catalog .bestProduct .productDesc {
    padding: 20px 0 8px 0;
    position: relative;
    height: 92px;
    /* border-top: solid 1px #b8bfd3; */
}

.catalog .bestProduct .productButton .addButton {
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: #4099d5;
    border: 1px solid #4099d5;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;

}

.catalog .bestProduct .productButton {
    height: 20px;
    display: block;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    max-width: 214px;
    /* width: 100%; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

app-filters {
    max-width: 280px;
}

section.col-10 {
    max-width: 100%;
    flex: 1;
}

.customerRef {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33333a;
    bottom: 6px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.catalog .bestProduct .productShortDesc {
    line-height: 16px;
}
