<header></header>
<div class="container">
    <div class="row">
        <div class="col">
            <section class="dashboardNavBuyerAccount">
                <ul class="accountNavTop">
                    <li>
                        <a [routerLink]="['/dashboard/buyer/account']">
                            {{'MENU_ITEM_PERSONAL_INFO' | translate}}
                        </a>
                    </li>
                    <li [ngClass]="{'active': true}">
                        <a [routerLink]="['/dashboard/buyer/account/security']">
                            {{'MENU_ITEM_SECURITY' | translate}}
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</div>
<main role="main"
      class="main pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-new-password [group]="form_group"
                                  (eventMes)="editPassword($event)"
                                  [isLoading]="isLoading">
                </app-new-password>
                <span class="pass-error" *ngIf="areFieldsEmpty">{{'ERR_EMPTY_FIELDS' | translate}}</span>
            </div>
            <!--<div class="pt-2 pb-2 w-100">-->
                <!--<div class="w-50">-->
                    <!--<alert></alert>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</main>
<footer></footer>
<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">            
            <button (click)="closeModal('custom-modal-2');"
                    class="closeModal">
                <i class="fa fa-close"></i>
            </button>
            <div class="content">
                <div class="image">
                    <img src="assets/images/sucess.png"
                         alt="logo">
                </div>
                <div>
                    {{'MODAL_INFO_UPDATED' | translate}}
                </div>
            </div>
        </div>
    </div>
     <div class="modal-background"></div>
</modal>
