
<div class="header">
        <div class="container" style="flex: none">
            <div class="row">
                <div class="col-6">
                    <div class="logo">
                        <a href="">
                            <img src="assets/images/logo.png" class="img-logo"
                                 alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="headerLogin">
                        <a [routerLink]="['/login']"
                            class="loginButton">
                             {{'BTN_LOGIN' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
<main role="main" 
      class="main">     
    <div class="container">
        <!-- <div class="pt-2">
            <alert></alert>
        </div> -->
        <h1 class="title">
            {{'TITLE_RESTORE_PASSWORD' | translate}}
        </h1>
        <form name="form" 
              class="form"
              [formGroup]="form_group"
              (ngSubmit)="restore()"
              validate>
            <app-input-email label="{{'LABEL_EMAIL' | translate}}" placeholder="{{'PLACEHOLDER_EMAIL' | translate}}" formControlName="email"></app-input-email>
            <button
                    class="btn btn-lg btn-primary btn-block restore"
                    type="submit">
                    {{'BTN_RESTORE_PASSWORD' | translate}}
            </button>
        </form>
    </div>
</main>
<footer></footer>
<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">            
            <button (click)="closeModal('custom-modal-2');" class="closeModal">
                <i class="fa fa-close"></i>
            </button>
            <div class="content">
                <div class="image">
                    <img src="assets/images/sucess.png"
                         alt="logo">
                </div>
                <div>
                {{'MODAL_CONFIRM_RESET' | translate}}
                </div>
            </div>
        </div>
    </div>
     <div class="modal-background"></div>
</modal>
