<form name="form"
      class="form groupForm"
      (ngSubmit)="onSendGroup()"
      [formGroup]="form_group"
      (keyup.enter)="$event.preventDefault()"
      (keydown.enter)="$event.preventDefault()"
      validate>
    <div class="group_description">
        <app-input-text label="{{'LABEL_GROUP_NAME' | translate}}"
                        placeholder="{{'PLACEHOLDER_GROUP_NAME' | translate}}" formControlName="name">

        </app-input-text>

        <app-input-textarea [styles]="{'max-height': '161px', 'height': '161px'}" label="{{'LABEL_DESCRIPTION' | translate}}" placeholder="{{'PLACEHOLDER_DESCRIPTION' | translate}}" formControlName="description">

        </app-input-textarea>
    </div>
    <div class="groups-wrapper">
        <div class="contact-filters">
            <button type="button" [ngClass]="{'active': activeFilter === 'all'}" (click)="filterCategory('all')">{{'FILTER_ALL' | translate}}</button>
            <button type="button" [ngClass]="{'active': activeFilter === 'shoonic'}" (click)="filterCategory('shoonic')">{{'FILTER_SHOONIC_CONTACTS' | translate}}</button>
            <button type="button" [ngClass]="{'active': activeFilter === 'other'}" (click)="filterCategory('other')">{{'FILTER_OTHER_CONTACTS' | translate}}</button>
        </div>
        <div class="panel-filters">
            <div class="input-group search">
                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="{{'PLACEHOLDER_SEARCH_NAME_OR_COMPANY' | translate}}"
                       (keyup.enter)="onSearchClick()" [ngModelOptions]="{standalone: true}" maxlength="120">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="onSearchClick()"><img src="../../../../../assets/images/search.svg" alt="search" /></button>
                </div>
            </div>
            <a *ngIf="searchText" class="search-clear" (click)="onClearFiltersClick()">{{'BTN_CLEAR_ALL' | translate}}</a>
            <!-- <div class="button-wrapper wrapper">
                <button type="button" class="add-contact" (click)="onNewContactAdd()" >Add new contact</button>
            </div> -->
        </div>

        <app-full-page-spinner *ngIf="isLoading"></app-full-page-spinner>

        <div class="placeholder-text" *ngIf="!contacts.length && !isLoading">
            <span>{{'ERR_NO_CONTACT' | translate}}</span>
        </div>
        <div class="placeholder-text" *ngIf="error">
            <span>{{'ERR_GENERAL' | translate}}</span>
        </div>
        <div class="table_wrapper" *ngIf="contacts.length">
        <table>
            <tr *ngFor="let contact of contacts; let i = index" class="contact-item">
                <td>
                    <label class="custom-control fill-checkbox">
                        <input type="checkbox"
                               class="fill-control-input"
                               [(ngModel)]="selItem[i]"
                               (change)="onSelectedItem(contact.id, selItem[i]) "
                               [ngModelOptions]="{standalone: true}"/>
                        <span class="fill-control-indicator"></span>
                    </label>
                </td>
                <td class="avatar">
                    <div>
                        <img *ngIf="contact.photo" [src]="contact.photo.url" [alt]="contact.full_name">
                        <img *ngIf="!contact.photo" src="https://image.flaticon.com/icons/svg/149/149071.svg"
                            [alt]="contact.full_name">
                    </div>
                </td>
                <td class="info">
                    <span class="name">{{contact.full_name}}</span><br/>
                    <span class="company">{{contact.company_name}}</span>
                </td>
                <td class="control-buttons">
                    <div>
                        <button 
                            type="button"
                            class="control-btn groups" 
                            routerLink="/dashboard/messenger/group/{{cg_id}}/user/{{contact.id}}">
                            {{'BTN_VIEW_GROUPS' | translate}}
                        </button>
                        <button 
                            type="button"
                            class="control-btn orders" 
                            [routerLink]="['/dashboard/messenger/orders']" 
                            [queryParams]="contact.user ? {'search': 'user:'+contact.user.id} : undefined">
                            {{'BTN_VIEW_ORDERS' | translate}}
                        </button>
                        <button 
                            type="button"
                            class="control-btn dialogs" 
                            [routerLink]="['/dashboard/messenger/products']" 
                            [queryParams]="contact.user ? {'search': 'user:'+contact.user.id} : undefined">
                           {{'BTN_VIEW_DIALOGS' | translate}}
                        </button>
                        <button
                            type="button"
                            class="control-btn add-to-group"
                            (click)="addContact(contact.id)"
                            [disabled]="checkIfAdded(contact.id)">
                            {{'BTN_ADD_TO_GROUP' | translate}}
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        </div>

    </div>
    <div [ngClass]="'pagination_holder ' + ((isLoading || (message && !isLoading))?'hidden':'')">
        <app-pagination (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
    <div class="group_action">
        <div *ngIf="showGroupAction" class="items_number">{{count}} {{count === 1 ? ('TEXT_CONTACT' | translate) : ('TEXT_CONTACTS' | translate)}} {{'TEXT_SELECTED' | translate}}
            <button [disabled]="checkSelected()" class="add-to-group" (click)="onContactAdd()">{{'BTN_ADD_TO_GROUP' | translate}}</button>
        </div>
        <button type="submit" class="save_button">{{'BTN_SAVE' | translate}}</button>
    </div>
</form>
<app-modal-view [group]="form_contact" (saveForm)="addNewContact()"
                (cancelForm)="onCancel()"></app-modal-view>
<modal id="custom-modal-5">
    <div class="modal">
        <div class="modal-body">            
            <button (click)="closeModal('custom-modal-5');"
                    class="closeModal">
                <i class="fa fa-close"></i>
            </button>
            <div class="content">
                <div class="image">
                    <img src="assets/images/sucess.png"
                         alt="logo">
                </div>
                <div>
                    {{'MODAL_CONTACT_GROUP_ADDED' | translate}}
                </div>
            </div>
        </div>
    </div>
     
    <div class="modal-background"></div>
</modal>

