.invalid__form {
    background-color: #c9cacc;
    border-color: #9b9b9b;
}
.form_spinner {
    width: 30px;
    height: 30px;
}
.bottom_line {
    display: block;
    border-bottom: 1px solid #edeff4;
    width: 70vw;
    margin: 40px 0;
}

.register_step_title {
    font-size: 16px;
    font-weight: bold;
    color: #33333a;
    line-height: normal;
    margin-bottom: 4px;
}

.previousStep {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 2px;
    text-align: center;
    color: #4099d5;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 20px;

}
button.login {
    width: 100%;
    line-height: 1.67;
    font-weight: 600;
}
.col-5 {
    width: 106px;
}
.previousStep i {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -1px;
}

h2.subTitle {
    font-size: 24px;
}

button.closeModal {
    position: relative !important;
    top: 0 !important;
    right: 0;
    height: 20px;
    width: 20px;
    background-image: url('../../assets/images/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.modal .modal-body {
    max-width: 662px;
    width: 100%;
    padding: 0 0 60px 0;
}
.modal .top {
    height: 53px;
    position: relative;
    border-bottom: solid 1px #b8bfd3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.modal .content {
    margin-top: 38px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    color: #515356;
}

.modal .content .image {
    margin-bottom: 24px;
}

.modal .content .text {
    max-width: 60%;
    margin: 0 auto;
}
.modal .top h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #515356;
    margin-bottom: 0;
    text-align: justify;
}


span.info {
    display: inline-block;
    position: relative;
}

p.register_step_subtitle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33333a;
    margin-bottom: 19px;
}
span.info i {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33333a;
    margin-left: 2px;
}
span.info i:hover {
    cursor: pointer;
}
span.info i:hover + .info-wrapper{
    opacity: 1;
}
.info-wrapper {
    display: block;
    opacity: 0;
    position: absolute;
    top: -25px;
    left: 25px;
    background: #88b7d5;
    min-height: 63px; 
    min-width: 137px;
    background-color: rgba(51, 51, 58, 0.9);
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 12px;
    transition: .2s all ease;
    z-index: 8;
}

.info-wrapper:after {
    right: 100%;
    top: 50%;
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
    border-color: rgba(136, 183, 213, 0); 
    border-right-color: rgba(51, 51, 58, 0.9);
    border-width: 6px; 
    margin-top: -7px; 
}
.street_name {
    max-width: 134px;
    margin-left: 15px;
}
