<div class="row"
     [ngClass]="{ 'has-danger':control.invalid && !control.pristine}">

    <label
            class="col col-form-label">
        <span>{{label}}</span>
        <angular2-date-picker (ngModelChange)="onInputChange($event)"
                              [(ngModel)]="date"
                              [settings]="settings">
        </angular2-date-picker>
        <span *ngIf="control.invalid && !control.pristine">
            <span *ngIf="control.errors.message">{{control.errors.message}}</span>
            <span *ngIf="control.hasError('required')">{{'ERR_REQUIRED' | translate}}</span>
    </span>
    </label>
</div>
